body {font-family: consolas; font-size: 100%; color: #9CA9B7; background: #efefef;}
h1 {font-size: 1.5em;}
a{color:#FFA500;}
a:hover{color:#FF66CC;}
.clear {clear: both;}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

#wrapper {width: 960px; max-width: 100%; margin: 0 auto;}

header#header-block {width: 72.9%;margin: 0 13.541666666666666666666666666667%;}
#container-block {width: 72.9%;margin: 0 13.541666666666666666666666666667%; border-top: 1px solid #ccc;}
#exercise-box-container div {float: left; margin: 0 5px;}